{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "html"
    ],
    "extends": [
        "eslint:recommended",
        "airbnb-base"
    ],
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx"
            ], // Your TypeScript files extension
            "extends": [
                "plugin:@typescript-eslint/recommended",
                "airbnb-typescript/base"
            ],
            "parserOptions": {
                "project": [
                    "./tsconfig.json"
                ] // Specify it only for TypeScript files
            }
        }
    ]
}