{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "html"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb-base",
        "airbnb-typescript/base"
    ]
}